.categories{
display: flex;
flex-direction: row;
align-items: center;
align-content: center;
align-content: space-around;

}
.h{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}